graph {
	fill-color: white;
}

edge {
	shape:cubic-curve;
	fill-color:black;
}

edge.Targeted{
	fill-color:yellow;
}

node {
	size: 10px, 15px;
	shape: circle;
	fill-color: black;
	stroke-mode: plain;
	text-alignment:under;
}

node.Dog{
	fill-color:blue;
}

node.Targeted{
	fill-color:yellow;
}


node:clicked {
	fill-color: red;
}